openapi: 3.2.0
info:
  title: Stacks Blockchain Fungible Tokens API
  description: "Welcome to the API reference overview for the [Stacks Blockchain API](https://docs.hiro.so/stacks-blockchain-api).\n\n      [Download Postman collection](https://hirosystems.github.io/stacks-blockchain-api/collection.json)"
  version: v8.14.2
servers:
- url: https://api.hiro.so/
  description: mainnet
tags:
- name: Fungible Tokens
paths:
  /extended/v1/tokens/ft/{token}/holders:
    get:
      operationId: get_ft_holders
      summary: Fungible token holders
      tags:
      - Fungible Tokens
      description: Retrieves the list of Fungible Token holders for a given token ID. Specify `stx` for the `token` parameter to get the list of STX holders.
      parameters:
      - schema:
          minimum: 0
          default: 100
          maximum: 200
          title: Limit
          type: integer
        in: query
        name: limit
        required: false
        description: max number of holders to fetch
      - schema:
          minimum: 0
          default: 0
          title: Offset
          type: integer
        in: query
        name: offset
        required: false
        description: index of first holder to fetch
      - schema:
          type: string
        examples:
          stx:
            value: stx
          SP3Y2ZSH8P7D50B0VBTSX11S7XSG24M1VB9YFQA4K.token-aeusdc::aeUSDC:
            value: SP3Y2ZSH8P7D50B0VBTSX11S7XSG24M1VB9YFQA4K.token-aeusdc::aeUSDC
        in: path
        name: token
        required: true
        description: fungible token identifier
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_supply:
                    description: The total supply of the token (the sum of all balances)
                    type: string
                    example: '5817609278457'
                  limit:
                    type: integer
                    example: 20
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 1
                  results:
                    type: array
                    items:
                      title: FtHolderEntry
                      type: object
                      properties:
                        address:
                          description: Principal of the token holder
                          type: string
                          example: SP3G2QZHYDZPJ2FBN2V2MB74T5ZQ6FQK2P5QJ2K6
                        balance:
                          description: The balance of the token held by the address
                          type: string
                          example: '174823763'
                      required:
                      - address
                      - balance
                required:
                - total_supply
                - limit
                - offset
                - total
                - results
        4XX:
          description: Default Response
          content:
            application/json:
              schema:
                title: Error Response
                additionalProperties: true
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
externalDocs:
  url: https://github.com/hirosystems/stacks-blockchain-api
  description: Source Repository
